<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Email Verification</title>
</head>
<body>
<h3>Hi, {{name_of_company}}</h3>


{{content}}

<h2>Use the credentials below to login to the admin</h2>
<p>Email: <strong>{{email}}</strong></p>
<p>Password: <strong>{{password}}</strong></p>
<h2>Break Payment BreakDown</h2>
<p><strong>Amount Paid</strong>: {{breakdown.amountToBePaid}}</p>
{% if breakdown.is_in_lagos %}
<p><strong>Lagos Fee</strong>: {{breakdown.is_in_lagos}}</p>
{% else %}
<p></p>
{% endif %}
<p>
    Regards <strong>MAN</strong>
</p>
</body>
</html>
