<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Email Verification</title>
</head>
<body>
<h3>Hi, {{name_of_company}}</h3>


<p>
    Your Application Has Been Approved Please wait for our branch rep to visit you. 
</p>

<h2>Break Payment BreakDown</h2>
<p><strong>Amount Paid</strong>: {{breakdown.amountToBePaid}}</p>
<p><strong>Lagos Fee</strong>: {{breakdown.is_in_lagos}}</p>
<p>
    Regards <strong>MAN</strong>
</p>
</body>
</html>
